.mcProfile {
    position: absolute;
    top: 0;
    right: 0;
}

.top-right-align-profile {
    float: left;
    padding: 5px;
}

.launchButton {
    display: block;
    width: 25%;
    border: none;
    background-color: #2de35e;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}